        </div>
    </div>
    <footer>
        <p>&copy; 2023 Post Op. All rights reserved.</p>
    </footer>
    <% if (typeof jsfile !== 'undefined') { %>
        <script src="/js/<%= jsfile %>"></script>
    <% } %>
</body>
</html>
