html {
    font-family: Montserrat;
}

h1 {
    color: #3498db;
}

div.option {
    padding: 0px;
    display: block;
}

body {
    background-color:  #ecf0f1;
    text-align: center;
    color: #34495e;
}

input {
    margin-top: 2%;
    border: 2px solid #3498db;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    border: 3px solid #2980b9;
    border-radius: 100px;
    color: #34495e;
    width: 80px;
    height: 40px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
    color: #ecf0f1;
}